<a href="https://colab.research.google.com/github/Sairam-DE/Python-DataEngineering/blob/main/pandas_tutorial.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
"""
pandas is a software library written for the python programming language for data
manipulation

works for tabular data
pandas capable of offering in-memory 2d table object called dataframe
pandas data structures are the series and the data frame
series = single column of data
dataframe = sheet with rows and columns

three main data structures in pandas
series-1d
dataframe - 2d (main focus)
panel - 3d
"""

In [ ]:
#installation

!pip install pandas

Requirement already satisfied: pandas in /usr/local/lib/python3.10/dist-packages (1.5.3)
Requirement already satisfied: python-dateutil>=2.8.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in /usr/local/lib/python3.10/dist-packages (from pandas) (2023.4)
Requirement already satisfied: numpy>=1.21.0 in /usr/local/lib/python3.10/dist-packages (from pandas) (1.25.2)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.10/dist-packages (from python-dateutil>=2.8.1->pandas) (1.16.0)

In [ ]:
import pandas

In [ ]:
print(pandas.__version__)

1.5.3

In [ ]:
"""
a data set is a collection of data
data is information recorded systematically and stated within its context

"""

# CREATING A DATA FRAME

In [ ]:
import pandas as pd
d=pd.read_csv('/content/sample_data/california_housing_test.csv')
df=pd.DataFrame(d)

In [ ]:
#print(df) -- see the variation by uncommenting
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
#same goes with excel also
'''
read_excel("file_location")
'''

In [ ]:
#CREATING DATA FRAME USING DICTIONARY
import pandas as pd

# Sample dictionary data
dict = {'Name': ['Alice', 'Bob', 'Charlie', 'David'],
        'Age': [25, 30, 35, 40],
        'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}

In [ ]:
dict

{'Name': ['Alice', 'Bob', 'Charlie', 'David'],
 'Age': [25, 30, 35, 40],
 'City': ['New York', 'Los Angeles', 'Chicago', 'Houston']}

In [ ]:
df = pd.DataFrame(dict)
print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

In [ ]:
#CREATING DATA FRAME USING tuple

import pandas as pd

# Sample tuple data
data = [('Alice', 25, 'New York'),
        ('Bob', 30, 'Los Angeles'),
        ('Charlie', 35, 'Chicago'),
        ('David', 40, 'Houston')]

# Creating DataFrame
df = pd.DataFrame(data, columns=['Name', 'Age', 'City'])

print(df)

      Name  Age         City
0    Alice   25     New York
1      Bob   30  Los Angeles
2  Charlie   35      Chicago
3    David   40      Houston

INDEXING SLICING

In [ ]:
#used this again for doing operations on this dataset
import pandas as pd
d=pd.read_csv('/content/sample_data/california_housing_test.csv')
df=pd.DataFrame(d)

In [ ]:
#data_frame.head(number_of_rows)

df.head() #works with out explicitly
#by using head we get first records

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0

In [ ]:
#need something particularly
df.head(2)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0

In [ ]:
#data_frame.tail(number_of_rows)

#by using tail we last records of data set
df.tail()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.tail(1)

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0

In [ ]:
df.describe() #we get all aggregations by using describe

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
count,3000.000000,3000.00000,3000.000000,3000.000000,3000.000000,3000.000000,3000.00000,3000.000000,3000.00000
mean,-119.589200,35.63539,28.845333,2599.578667,529.950667,1402.798667,489.91200,3.807272,205846.27500
std,1.994936,2.12967,12.555396,2155.593332,415.654368,1030.543012,365.42271,1.854512,113119.68747
min,-124.180000,32.56000,1.000000,6.000000,2.000000,5.000000,2.00000,0.499900,22500.00000
25%,-121.810000,33.93000,18.000000,1401.000000,291.000000,780.000000,273.00000,2.544000,121200.00000
50%,-118.485000,34.27000,29.000000,2106.000000,437.000000,1155.000000,409.50000,3.487150,177650.00000
75%,-118.020000,37.69000,37.000000,3129.000000,636.000000,1742.750000,597.25000,4.656475,263975.00000
max,-114.490000,41.92000,52.000000,30450.000000,5419.000000,11935.000000,4930.00000,15.000100,500001.00000

In [ ]:
df.shape #gives rows and columns

(3000, 9)

In [ ]:
#data_frame[start:stop:step]
df[0:800:2]
#starts at 0 index
#ends at 800 index
#with difference of 2

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0
6,-121.43,38.63,43.0,1009.0,225.0,604.0,218.0,1.6641,67000.0
8,-122.84,38.40,15.0,3080.0,617.0,1446.0,599.0,3.6696,194400.0
...,...,...,...,...,...,...,...,...,...
790,-123.74,40.66,25.0,2395.0,431.0,983.0,375.0,3.0469,136000.0
792,-118.91,34.22,15.0,5644.0,757.0,2659.0,783.0,6.7559,312000.0
794,-121.80,38.01,46.0,2273.0,495.0,1088.0,447.0,2.2532,109400.0
796,-122.14,37.67,34.0,3036.0,533.0,1366.0,500.0,4.2386,192300.0
798,-122.10,37.65,31.0,1797.0,327.0,796.0,319.0,4.4427,204500.0

In [ ]:
df["longitude"] #accessing single column

0      -122.05
1      -118.30
2      -117.81
3      -118.36
4      -119.67
         ...
2995   -119.86
2996   -118.14
2997   -119.70
2998   -117.12
2999   -119.63
Name: longitude, Length: 3000, dtype: float64

In [ ]:
df[["longitude", "latitude",	"housing_median_age"]] #accessing multiple colums

      longitude  latitude  housing_median_age
0       -122.05     37.37                27.0
1       -118.30     34.26                43.0
2       -117.81     33.78                27.0
3       -118.36     33.82                28.0
4       -119.67     36.33                19.0
...         ...       ...                 ...
2995    -119.86     34.42                23.0
2996    -118.14     34.06                27.0
2997    -119.70     36.30                10.0
2998    -117.12     34.10                40.0
2999    -119.63     34.42                42.0

[3000 rows x 3 columns]

In [ ]:
#we can use start stop and step also here(slicing)

df[["longitude", "latitude",	"housing_median_age"]] [0:500:3]

     longitude  latitude  housing_median_age
0      -122.05     37.37                27.0
3      -118.36     33.82                28.0
6      -121.43     38.63                43.0
9      -118.02     34.08                31.0
12     -121.93     37.25                36.0
..         ...       ...                 ...
486    -121.50     36.81                20.0
489    -118.42     34.23                34.0
492    -119.74     34.35                34.0
495    -122.29     37.82                 2.0
498    -122.44     37.76                52.0

[167 rows x 3 columns]

In [ ]:
#we can get individual records like this

for x in df.iterrows():
    print(x)

Streaming output truncated to the last 5000 lines.
(2500, longitude               -118.34
latitude                  34.09
housing_median_age        14.00
total_rooms             3032.00
total_bedrooms           999.00
population              1691.00
households               841.00
median_income              2.20
median_house_value    210000.00
Name: 2500, dtype: float64)
(2501, longitude               -117.6100
latitude                  34.3400
housing_median_age        18.0000
total_rooms             5210.0000
total_bedrooms           912.0000
population              1301.0000
households               464.0000
median_income              4.8623
median_house_value    176900.0000
Name: 2501, dtype: float64)
(2502, longitude              -118.23
latitude                 33.76
housing_median_age       21.00
total_rooms              49.00
total_bedrooms           14.00
population               29.00
households               16.00
median_income             5.00
median_house_value    87500.00
Name: 2502, dtype: float64)
(2503, longitude               -117.8900
latitude                  33.7700
housing_median_age        32.0000
total_rooms             2342.0000
total_bedrooms           570.0000
population              1445.0000
households               453.0000
median_income              4.1951
median_house_value    195000.0000
Name: 2503, dtype: float64)
(2504, longitude              -118.2600
latitude                 33.9100
housing_median_age       39.0000
total_rooms             967.0000
total_bedrooms          256.0000
population              903.0000
households              256.0000
median_income             1.9038
median_house_value    93100.0000
Name: 2504, dtype: float64)
(2505, longitude               -118.400
latitude                  33.990
housing_median_age        39.000
total_rooms             1613.000
total_bedrooms           380.000
population              1113.000
households               356.000
median_income              2.825
median_house_value    276700.000
Name: 2505, dtype: float64)
(2506, longitude               -117.1400
latitude                  32.9200
housing_median_age        15.0000
total_rooms             1558.0000
total_bedrooms           314.0000
population               949.0000
households               332.0000
median_income              5.2864
median_house_value    174400.0000
Name: 2506, dtype: float64)
(2507, longitude               -118.1500
latitude                  33.7700
housing_median_age        52.0000
total_rooms             2204.0000
total_bedrooms           498.0000
population               899.0000
households               445.0000
median_income              4.1765
median_house_value    393900.0000
Name: 2507, dtype: float64)
(2508, longitude               -118.5900
latitude                  34.2100
housing_median_age        17.0000
total_rooms             2737.0000
total_bedrooms           868.0000
population              2924.0000
households               785.0000
median_income              2.5797
median_house_value    183500.0000
Name: 2508, dtype: float64)
(2509, longitude               -121.37
latitude                  36.83
housing_median_age        14.00
total_rooms             3658.00
total_bedrooms           612.00
population              1951.00
households               600.00
median_income              4.76
median_house_value    216000.00
Name: 2509, dtype: float64)
(2510, longitude               -120.4800
latitude                  35.0200
housing_median_age        17.0000
total_rooms             2721.0000
total_bedrooms           477.0000
population              1672.0000
households               492.0000
median_income              2.9798
median_house_value    204800.0000
Name: 2510, dtype: float64)
(2511, longitude               -118.440
latitude                  34.210
housing_median_age        41.000
total_rooms             1440.000
total_bedrooms           325.000
population              1014.000
households               322.000
median_income              2.875
median_house_value    168600.000
Name: 2511, dtype: float64)
(2512, longitude               -122.3200
latitude                  38.3300
housing_median_age        17.0000
total_rooms              851.0000
total_bedrooms           118.0000
population               370.0000
households               123.0000
median_income              5.0877
median_house_value    209300.0000
Name: 2512, dtype: float64)
(2513, longitude               -121.8700
latitude                  37.2800
housing_median_age        21.0000
total_rooms             3305.0000
total_bedrooms           749.0000
population              2459.0000
households               701.0000
median_income              3.9688
median_house_value    249600.0000
Name: 2513, dtype: float64)
(2514, longitude               -117.1000
latitude                  33.0700
housing_median_age        16.0000
total_rooms             2402.0000
total_bedrooms           336.0000
population              1080.0000
households               365.0000
median_income              8.6803
median_house_value    347300.0000
Name: 2514, dtype: float64)
(2515, longitude               -118.030
latitude                  33.760
housing_median_age        25.000
total_rooms             4650.000
total_bedrooms           849.000
population              2503.000
households               790.000
median_income              5.742
median_house_value    221900.000
Name: 2515, dtype: float64)
(2516, longitude               -122.4000
latitude                  37.7300
housing_median_age        48.0000
total_rooms             1489.0000
total_bedrooms           326.0000
population              1115.0000
households               356.0000
median_income              2.6364
median_house_value    199300.0000
Name: 2516, dtype: float64)
(2517, longitude               -118.3400
latitude                  34.1200
housing_median_age        41.0000
total_rooms             3257.0000
total_bedrooms           679.0000
population              1237.0000
households               638.0000
median_income              4.2415
median_house_value    409600.0000
Name: 2517, dtype: float64)
(2518, longitude               -121.0400
latitude                  39.2400
housing_median_age        48.0000
total_rooms             1188.0000
total_bedrooms           227.0000
population               471.0000
households               219.0000
median_income              2.3125
median_house_value    125700.0000
Name: 2518, dtype: float64)
(2519, longitude               -117.9700
latitude                  33.9100
housing_median_age        19.0000
total_rooms             8096.0000
total_bedrooms          1318.0000
population              3853.0000
households              1313.0000
median_income              6.0076
median_house_value    269500.0000
Name: 2519, dtype: float64)
(2520, longitude              -117.1000
latitude                 32.6800
housing_median_age       45.0000
total_rooms            1183.0000
total_bedrooms          289.0000
population              900.0000
households              266.0000
median_income             2.4943
median_house_value    99600.0000
Name: 2520, dtype: float64)
(2521, longitude              -116.6100
latitude                 33.9300
housing_median_age       35.0000
total_rooms             321.0000
total_bedrooms           71.0000
population              157.0000
households               61.0000
median_income             2.8056
median_house_value    68100.0000
Name: 2521, dtype: float64)
(2522, longitude               -118.3900
latitude                  34.0800
housing_median_age        27.0000
total_rooms             6605.0000
total_bedrooms          1710.0000
population              2665.0000
households              1520.0000
median_income              3.8088
median_house_value    500001.0000
Name: 2522, dtype: float64)
(2523, longitude               -121.2300
latitude                  38.6500
housing_median_age        19.0000
total_rooms             2926.0000
total_bedrooms           476.0000
population              1349.0000
households               480.0000
median_income              4.6437
median_house_value    212900.0000
Name: 2523, dtype: float64)
(2524, longitude               -122.2000
latitude                  37.7900
housing_median_age        29.0000
total_rooms             1640.0000
total_bedrooms           376.0000
population               939.0000
households               340.0000
median_income              2.8321
median_house_value    150000.0000
Name: 2524, dtype: float64)
(2525, longitude               -117.180
latitude                  32.830
housing_median_age        23.000
total_rooms             2105.000
total_bedrooms           525.000
population              1218.000
households               484.000
median_income              3.375
median_house_value    184100.000
Name: 2525, dtype: float64)
(2526, longitude              -118.0800
latitude                 33.7700
housing_median_age       26.0000
total_rooms            2461.0000
total_bedrooms          562.0000
population              971.0000
households              544.0000
median_income             2.1944
median_house_value    87500.0000
Name: 2526, dtype: float64)
(2527, longitude               -120.4500
latitude                  34.6600
housing_median_age         7.0000
total_rooms             3329.0000
total_bedrooms           504.0000
population              1462.0000
households               452.0000
median_income              4.7875
median_house_value    198300.0000
Name: 2527, dtype: float64)
(2528, longitude               -117.8200
latitude                  33.6800
housing_median_age         4.0000
total_rooms             1346.0000
total_bedrooms           213.0000
population               603.0000
households               219.0000
median_income              8.7974
median_house_value    360600.0000
Name: 2528, dtype: float64)
(2529, longitude               -121.92
latitude                  36.61
housing_median_age        27.00
total_rooms             1619.00
total_bedrooms           352.00
population               831.00
households               344.00
median_income              4.30
median_house_value    226400.00
Name: 2529, dtype: float64)
(2530, longitude               -122.0100
latitude                  37.5300
housing_median_age        19.0000
total_rooms             4572.0000
total_bedrooms           712.0000
population              2346.0000
households               709.0000
median_income              6.0667
median_house_value    245700.0000
Name: 2530, dtype: float64)
(2531, longitude              -118.2700
latitude                 33.9500
housing_median_age       34.0000
total_rooms             987.0000
total_bedrooms          248.0000
population              902.0000
households              221.0000
median_income             2.3365
median_house_value    98000.0000
Name: 2531, dtype: float64)
(2532, longitude               -119.9600
latitude                  38.9400
housing_median_age        27.0000
total_rooms             1492.0000
total_bedrooms           393.0000
population               717.0000
households               254.0000
median_income              1.8906
median_house_value    104200.0000
Name: 2532, dtype: float64)
(2533, longitude               -121.4200
latitude                  36.5700
housing_median_age        13.0000
total_rooms             2685.0000
total_bedrooms           621.0000
population              2474.0000
households               573.0000
median_income              2.8775
median_house_value    134100.0000
Name: 2533, dtype: float64)
(2534, longitude               -120.9600
latitude                  37.6600
housing_median_age        15.0000
total_rooms             2485.0000
total_bedrooms           434.0000
population              1296.0000
households               434.0000
median_income              3.8542
median_house_value    145200.0000
Name: 2534, dtype: float64)
(2535, longitude               -118.6500
latitude                  34.2000
housing_median_age        23.0000
total_rooms             7480.0000
total_bedrooms          1084.0000
population              3037.0000
households              1058.0000
median_income              6.9223
median_house_value    338400.0000
Name: 2535, dtype: float64)
(2536, longitude               -122.3100
latitude                  38.0000
housing_median_age        29.0000
total_rooms             3108.0000
total_bedrooms           534.0000
population              1687.0000
households               516.0000
median_income              4.3333
median_house_value    170800.0000
Name: 2536, dtype: float64)
(2537, longitude               -118.3500
latitude                  34.0700
housing_median_age        48.0000
total_rooms              890.0000
total_bedrooms           255.0000
population               434.0000
households               232.0000
median_income              3.6111
median_house_value    450000.0000
Name: 2537, dtype: float64)
(2538, longitude               -118.1900
latitude                  33.7900
housing_median_age        29.0000
total_rooms             3497.0000
total_bedrooms          1096.0000
population              2994.0000
households               919.0000
median_income              1.8109
median_house_value    137500.0000
Name: 2538, dtype: float64)
(2539, longitude               -122.1400
latitude                  37.4100
housing_median_age        35.0000
total_rooms             2419.0000
total_bedrooms           426.0000
population               949.0000
households               433.0000
median_income              6.4588
median_house_value    437100.0000
Name: 2539, dtype: float64)
(2540, longitude              -119.8100
latitude                 36.7100
housing_median_age       25.0000
total_rooms            1026.0000
total_bedrooms          221.0000
population              789.0000
households              183.0000
median_income             1.5625
median_house_value    52800.0000
Name: 2540, dtype: float64)
(2541, longitude               -117.18
latitude                  32.68
housing_median_age        29.00
total_rooms             1539.00
total_bedrooms           344.00
population               556.00
households               289.00
median_income              3.25
median_house_value    500001.00
Name: 2541, dtype: float64)
(2542, longitude               -117.7700
latitude                  34.0800
housing_median_age        27.0000
total_rooms             5929.0000
total_bedrooms           932.0000
population              2817.0000
households               828.0000
median_income              6.0434
median_house_value    214800.0000
Name: 2542, dtype: float64)
(2543, longitude               -118.1100
latitude                  33.8600
housing_median_age        33.0000
total_rooms             2389.0000
total_bedrooms           410.0000
population              1229.0000
households               393.0000
median_income              5.3889
median_house_value    234900.0000
Name: 2543, dtype: float64)
(2544, longitude               -118.2800
latitude                  34.0900
housing_median_age        52.0000
total_rooms             1739.0000
total_bedrooms           464.0000
population               938.0000
households               482.0000
median_income              2.4429
median_house_value    228800.0000
Name: 2544, dtype: float64)
(2545, longitude               -117.9300
latitude                  34.0400
housing_median_age        30.0000
total_rooms             1336.0000
total_bedrooms           239.0000
population               905.0000
households               253.0000
median_income              4.8854
median_house_value    178100.0000
Name: 2545, dtype: float64)
(2546, longitude               -117.0500
latitude                  32.7600
housing_median_age        37.0000
total_rooms             4879.0000
total_bedrooms           906.0000
population              2076.0000
households               871.0000
median_income              3.6625
median_house_value    154800.0000
Name: 2546, dtype: float64)
(2547, longitude               -118.25
latitude                  33.87
housing_median_age        18.00
total_rooms             6812.00
total_bedrooms          1263.00
population              3704.00
households              1216.00
median_income              4.25
median_house_value    169200.00
Name: 2547, dtype: float64)
(2548, longitude               -122.4100
latitude                  37.7800
housing_median_age        52.0000
total_rooms              254.0000
total_bedrooms            72.0000
population               153.0000
households                29.0000
median_income              3.8625
median_house_value    350000.0000
Name: 2548, dtype: float64)
(2549, longitude               -119.7200
latitude                  34.4700
housing_median_age        34.0000
total_rooms             3262.0000
total_bedrooms           533.0000
population              1265.0000
households               502.0000
median_income              5.8411
median_house_value    381800.0000
Name: 2549, dtype: float64)
(2550, longitude               -118.1200
latitude                  34.1500
housing_median_age        22.0000
total_rooms             1671.0000
total_bedrooms           480.0000
population              1005.0000
households               443.0000
median_income              3.0119
median_house_value    171400.0000
Name: 2550, dtype: float64)
(2551, longitude               -122.2100
latitude                  37.8300
housing_median_age        40.0000
total_rooms             4991.0000
total_bedrooms           674.0000
population              1616.0000
households               654.0000
median_income              7.5544
median_house_value    411500.0000
Name: 2551, dtype: float64)
(2552, longitude              -119.3800
latitude                 36.5600
housing_median_age       14.0000
total_rooms            3965.0000
total_bedrooms          804.0000
population             1945.0000
households              733.0000
median_income             2.6906
median_house_value    95300.0000
Name: 2552, dtype: float64)
(2553, longitude               -118.3800
latitude                  34.2800
housing_median_age        22.0000
total_rooms             4428.0000
total_bedrooms           825.0000
population              3152.0000
households               836.0000
median_income              4.7932
median_house_value    166300.0000
Name: 2553, dtype: float64)
(2554, longitude               -117.3400
latitude                  34.1200
housing_median_age        26.0000
total_rooms             1008.0000
total_bedrooms           164.0000
population               568.0000
households               196.0000
median_income              3.3516
median_house_value    105600.0000
Name: 2554, dtype: float64)
(2555, longitude              -122.0600
latitude                 37.3900
housing_median_age       22.0000
total_rooms            1236.0000
total_bedrooms          290.0000
population              413.0000
households              274.0000
median_income             3.6875
median_house_value    40000.0000
Name: 2555, dtype: float64)
(2556, longitude               -118.4600
latitude                  34.0700
housing_median_age        49.0000
total_rooms             2418.0000
total_bedrooms           301.0000
population               850.0000
households               318.0000
median_income             14.2867
median_house_value    500001.0000
Name: 2556, dtype: float64)
(2557, longitude               -117.9000
latitude                  34.1500
housing_median_age        21.0000
total_rooms             2056.0000
total_bedrooms           461.0000
population              1332.0000
households               429.0000
median_income              3.3942
median_house_value    212800.0000
Name: 2557, dtype: float64)
(2558, longitude              -123.4700
latitude                 39.8000
housing_median_age       18.0000
total_rooms            2130.0000
total_bedrooms          545.0000
population              863.0000
households              346.0000
median_income             2.3571
median_house_value    79200.0000
Name: 2558, dtype: float64)
(2559, longitude               -121.9100

In [ ]:
#loc
#stop index included
#we acess columns with column name

In [ ]:
#loc (stop index included)
#data_frame.loc[row_number]
df.loc[20]

longitude               -122.1500
latitude                  37.7500
housing_median_age        40.0000
total_rooms             1445.0000
total_bedrooms           256.0000
population               849.0000
households               255.0000
median_income              3.8913
median_house_value    126300.0000
Name: 20, dtype: float64

In [ ]:
#data_frame.loc[row_number, [column_name,...]]

df.loc[78,["latitude"]]

latitude    34.17
Name: 78, dtype: float64

In [ ]:
df.loc[69,["latitude", "total_rooms",	"total_bedrooms",]]

latitude            33.86
total_rooms       1691.00
total_bedrooms     367.00
Name: 69, dtype: float64

In [ ]:
df.loc[8:69,["latitude", "total_rooms",	"total_bedrooms",]]
#starts from 8 and includes 69 also in normal case 69 is excluded but here it is
#included

    latitude  total_rooms  total_bedrooms
8      38.40       3080.0           617.0
9      34.08       2402.0           632.0
10     33.98        972.0           249.0
11     35.85        736.0           166.0
12     37.25       1089.0           182.0
..       ...          ...             ...
65     32.73       3966.0           768.0
66     37.69       6473.0          1212.0
67     33.92       2290.0           319.0
68     34.08       3830.0           750.0
69     33.86       1691.0           367.0

[62 rows x 3 columns]

In [ ]:
#range
df.loc[0:45, "longitude":"latitude"]

    longitude  latitude
0     -122.05     37.37
1     -118.30     34.26
2     -117.81     33.78
3     -118.36     33.82
4     -119.67     36.33
5     -119.56     36.51
6     -121.43     38.63
7     -120.65     35.48
8     -122.84     38.40
9     -118.02     34.08
10    -118.24     33.98
11    -119.12     35.85
12    -121.93     37.25
13    -117.03     32.97
14    -117.97     33.73
15    -117.99     33.81
16    -120.81     37.53
17    -121.20     38.69
18    -118.88     34.21
19    -122.59     38.01
20    -122.15     37.75
21    -121.37     38.68
22    -118.16     34.07
23    -122.20     37.79
24    -117.28     33.28
25    -118.03     34.16
26    -122.42     37.76
27    -118.39     33.99
28    -118.45     34.07
29    -118.48     34.01
30    -119.35     36.33
31    -118.30     33.91
32    -121.13     39.31
33    -118.08     34.55
34    -118.32     33.94
35    -118.11     34.00
36    -122.53     37.97
37    -118.02     33.92
38    -118.05     33.93
39    -119.01     34.23
40    -119.32     36.20
41    -116.92     32.77
42    -118.06     34.15
43    -117.27     34.09
44    -118.23     34.13
45    -117.24     33.17

In [ ]:
#iloc
#stop index excluded
#column names are accessed with numbers

In [ ]:
#now operations with iloc
#data_frame.iloc[row_number, column_number]
df.iloc[0:4]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0

In [ ]:
#data_frame.iloc[row_number,column_number]

df.iloc[2,4] #here we are accesing second row fourth column

507.0

In [ ]:
#data_frame.iloc[row_start:row_stop, col_start:col_stop]
df.iloc[0:5, 4:8]

   total_bedrooms  population  households  median_income
0           661.0      1537.0       606.0         6.6085
1           310.0       809.0       277.0         3.5990
2           507.0      1484.0       495.0         5.7934
3            15.0        49.0        11.0         6.1359
4           244.0       850.0       237.0         2.9375

In [ ]:
#data_frame.iloc[start:stop, "column_number"]
df.iloc[7:68, 2]

7     19.0
8     15.0
9     31.0
10    45.0
11    37.0
      ...
63    31.0
64    26.0
65    38.0
66    19.0
67    12.0
Name: housing_median_age, Length: 61, dtype: float64

In [ ]:
#data_frame.iloc[[row_1, row_2, ....]]
df.iloc[[1,2,3]] #instead of range

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0

In [ ]:
df.iloc[[3, 89, 2560]]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0
89,-122.40,37.62,44.0,1619.0,362.0,1064.0,335.0,4.0238,224200.0
2560,-122.32,38.32,22.0,2483.0,528.0,1478.0,492.0,4.0878,164400.0

In [ ]:
#data_frame.iloc[:, [col_1, col_2,...]]
df.iloc[:,[1,2,3]]

      latitude  housing_median_age  total_rooms
0        37.37                27.0       3885.0
1        34.26                43.0       1510.0
2        33.78                27.0       3589.0
3        33.82                28.0         67.0
4        36.33                19.0       1241.0
...        ...                 ...          ...
2995     34.42                23.0       1450.0
2996     34.06                27.0       5257.0
2997     36.30                10.0        956.0
2998     34.10                40.0         96.0
2999     34.42                42.0       1765.0

[3000 rows x 3 columns]

In [ ]:
df.iloc[:,[3,6,7]]

      total_rooms  households  median_income
0          3885.0       606.0         6.6085
1          1510.0       277.0         3.5990
2          3589.0       495.0         5.7934
3            67.0        11.0         6.1359
4          1241.0       237.0         2.9375
...           ...         ...            ...
2995       1450.0       607.0         1.1790
2996       5257.0      1036.0         3.3906
2997        956.0       220.0         2.2895
2998         96.0        14.0         3.2708
2999       1765.0       260.0         8.5608

[3000 rows x 3 columns]

In [ ]:
#data_frame.iloc[[start:stop], [col_1, col_2,...]]
df.iloc[[2,80],[1,3,6]]

    latitude  total_rooms  households
2      33.78       3589.0       495.0
80     37.40        860.0       147.0
5      36.51       1018.0       204.0

In [ ]:
df.iloc[[2,78,90],[1,3,6]]

    latitude  total_rooms  households
2      33.78       3589.0       495.0
78     34.17       6217.0       834.0
90     34.15       1125.0       321.0

In [ ]:
#sorting dataframe
#data_frame.sort_values("column_name")

df.sort_values("latitude")
#by default it chooses ascending

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1208,-117.09,32.56,8.0,864.0,156.0,626.0,172.0,4.8984,151500.0
2371,-117.08,32.57,18.0,2203.0,544.0,1943.0,497.0,2.2500,103200.0
1617,-117.12,32.57,35.0,1450.0,256.0,930.0,286.0,2.6715,133300.0
1045,-117.11,32.57,32.0,2723.0,586.0,1702.0,562.0,3.3371,140500.0
274,-117.05,32.58,23.0,1918.0,339.0,1392.0,340.0,4.0870,134800.0
...,...,...,...,...,...,...,...,...,...
2018,-122.32,41.31,45.0,1393.0,294.0,521.0,249.0,1.1915,71900.0
2778,-123.92,41.54,22.0,2920.0,636.0,1382.0,499.0,2.0202,71100.0
2951,-122.64,41.63,19.0,2722.0,479.0,1108.0,430.0,3.1062,100000.0
1422,-124.17,41.80,16.0,2739.0,480.0,1259.0,436.0,3.7557,109400.0
910,-124.16,41.92,19.0,1668.0,324.0,841.0,283.0,2.1336,75000.0

In [ ]:
df.sort_values("latitude", ascending=False)
#now we can do descending by passing false to ascending

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
910,-124.16,41.92,19.0,1668.0,324.0,841.0,283.0,2.1336,75000.0
1422,-124.17,41.80,16.0,2739.0,480.0,1259.0,436.0,3.7557,109400.0
2951,-122.64,41.63,19.0,2722.0,479.0,1108.0,430.0,3.1062,100000.0
2778,-123.92,41.54,22.0,2920.0,636.0,1382.0,499.0,2.0202,71100.0
2018,-122.32,41.31,45.0,1393.0,294.0,521.0,249.0,1.1915,71900.0
...,...,...,...,...,...,...,...,...,...
2649,-117.13,32.58,27.0,2511.0,615.0,1427.0,576.0,3.1645,156000.0
1045,-117.11,32.57,32.0,2723.0,586.0,1702.0,562.0,3.3371,140500.0
1617,-117.12,32.57,35.0,1450.0,256.0,930.0,286.0,2.6715,133300.0
2371,-117.08,32.57,18.0,2203.0,544.0,1943.0,497.0,2.2500,103200.0
1208,-117.09,32.56,8.0,864.0,156.0,626.0,172.0,4.8984,151500.0

In [ ]:
#data_frame.sort_values(["column_1", "column_2"])
df.sort_values(["latitude", "longitude"])
#here the ascending order done by the column_1 what we given w.r.to that

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1208,-117.09,32.56,8.0,864.0,156.0,626.0,172.0,4.8984,151500.0
1617,-117.12,32.57,35.0,1450.0,256.0,930.0,286.0,2.6715,133300.0
1045,-117.11,32.57,32.0,2723.0,586.0,1702.0,562.0,3.3371,140500.0
2371,-117.08,32.57,18.0,2203.0,544.0,1943.0,497.0,2.2500,103200.0
2649,-117.13,32.58,27.0,2511.0,615.0,1427.0,576.0,3.1645,156000.0
...,...,...,...,...,...,...,...,...,...
2018,-122.32,41.31,45.0,1393.0,294.0,521.0,249.0,1.1915,71900.0
2778,-123.92,41.54,22.0,2920.0,636.0,1382.0,499.0,2.0202,71100.0
2951,-122.64,41.63,19.0,2722.0,479.0,1108.0,430.0,3.1062,100000.0
1422,-124.17,41.80,16.0,2739.0,480.0,1259.0,436.0,3.7557,109400.0
910,-124.16,41.92,19.0,1668.0,324.0,841.0,283.0,2.1336,75000.0

In [ ]:
df.sort_values(["longitude", "latitude"])
#here sorting goes with longitude
#the first given column plays a key role

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
1876,-124.18,40.79,40.0,1398.0,311.0,788.0,279.0,1.4668,64600.0
1422,-124.17,41.80,16.0,2739.0,480.0,1259.0,436.0,3.7557,109400.0
111,-124.16,40.77,35.0,2141.0,438.0,1053.0,434.0,2.8529,85600.0
2577,-124.16,40.79,46.0,3042.0,597.0,1206.0,541.0,2.1135,90600.0
1118,-124.16,40.80,52.0,2167.0,480.0,908.0,451.0,1.6111,74700.0
...,...,...,...,...,...,...,...,...,...
244,-114.98,33.07,18.0,1183.0,363.0,374.0,127.0,3.1607,57500.0
2640,-114.62,33.62,26.0,18.0,3.0,5.0,3.0,0.5360,275000.0
1145,-114.61,33.62,16.0,1187.0,261.0,1115.0,242.0,2.1759,61500.0
1595,-114.55,32.80,19.0,2570.0,820.0,1431.0,608.0,1.2750,56100.0
2055,-114.49,33.97,17.0,2809.0,635.0,83.0,45.0,1.6154,87500.0

In [ ]:
df.sort_values(["longitude", "latitude"], ascending=[0,1])

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value
2055,-114.49,33.97,17.0,2809.0,635.0,83.0,45.0,1.6154,87500.0
1595,-114.55,32.80,19.0,2570.0,820.0,1431.0,608.0,1.2750,56100.0
1145,-114.61,33.62,16.0,1187.0,261.0,1115.0,242.0,2.1759,61500.0
2640,-114.62,33.62,26.0,18.0,3.0,5.0,3.0,0.5360,275000.0
244,-114.98,33.07,18.0,1183.0,363.0,374.0,127.0,3.1607,57500.0
...,...,...,...,...,...,...,...,...,...
2577,-124.16,40.79,46.0,3042.0,597.0,1206.0,541.0,2.1135,90600.0
1118,-124.16,40.80,52.0,2167.0,480.0,908.0,451.0,1.6111,74700.0
910,-124.16,41.92,19.0,1668.0,324.0,841.0,283.0,2.1336,75000.0
1422,-124.17,41.80,16.0,2739.0,480.0,1259.0,436.0,3.7557,109400.0
1876,-124.18,40.79,40.0,1398.0,311.0,788.0,279.0,1.4668,64600.0

#manipulating a data frame
#add or remove

In [ ]:
#Data_Frame['new_col_name']=default_value

df["total"]=0

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,0
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,0
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,0
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,0
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,0
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,0
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,0
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,0
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,0
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,0

In [ ]:
#there you can see total is added as a new column

In [ ]:
#now with expression
#Data_Frame['new_col_name']=Expression/Condition

df["total"]=df["longitude"]+df["latitude"]

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21

In [ ]:
#now you can see df got values of addition of longitude,latitude
#these changes only we can see in the data set not in the original file

In [ ]:
df["gender"]="m/f"

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total,gender
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68,m/f
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04,m/f
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03,m/f
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54,m/f
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34,m/f
...,...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44,m/f
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08,m/f
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40,m/f
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02,m/f
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21,m/f

#REMOVING COLUMN

In [ ]:
#Data_frame.drop(columns="column_name")
df.drop(columns="gender")

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21

In [ ]:
df.drop(columns="gender", inplace=True)
#permanently going to delete in dataframe by using inplace=True

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21

REMOVING DUPLICATES

In [ ]:
#Knowing Duplicates
#Dat_frame.duplicated() - Boolean Result
df.duplicated()

0       False
1       False
2       False
3       False
4       False
        ...
2995    False
2996    False
2997    False
2998    False
2999    False
Length: 3000, dtype: bool

In [ ]:
df.drop_duplicates()

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21

In [ ]:
df.drop_duplicates(inplace=True)

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21

Handling Missing Data

In [ ]:
#Data_frame.fillna(default_value)
#FILL WITH DEFAULT VALUES
df.fillna(80)
#we are going to fill every missing value with 80

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21

In [ ]:
df["latitude"].fillna(90)
#we are going fill every missing value with 90
#in latitude
#we can also do all the operation here like start stop and step

0       37.37
1       34.26
2       33.78
3       33.82
4       36.33
        ...
2995    34.42
2996    34.06
2997    36.30
2998    34.10
2999    34.42
Name: latitude, Length: 3000, dtype: float64

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21

In [ ]:
#Data_frame.dropna()
#REMOVE MISSING DATA
df.dropna()
#will remove all the missing values

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21

In [ ]:
#permanent removal
df.dropna(inplace=True)

In [ ]:
df

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21

DATA FILTERING AND CONDITIONAL CHANGES

In [ ]:
#Data_frame.loc[simple_condition]

#Data_frame.loc[compund_condition]

#Data_frame.loc[simple_condition.str.contains(str)]

#Data_frame.loc[simple_condition.str.startswith(str)]

#Data_frame.loc[simple_condition.str.endswith(str)]

#Simple Condition

#Data_frame["Col_name"] > / < / == value

In [ ]:
#Data_frame.loc[simple_condition]

df.loc[df["latitude"]<85]

,longitude,latitude,housing_median_age,total_rooms,total_bedrooms,population,households,median_income,median_house_value,total
0,-122.05,37.37,27.0,3885.0,661.0,1537.0,606.0,6.6085,344700.0,-84.68
1,-118.30,34.26,43.0,1510.0,310.0,809.0,277.0,3.5990,176500.0,-84.04
2,-117.81,33.78,27.0,3589.0,507.0,1484.0,495.0,5.7934,270500.0,-84.03
3,-118.36,33.82,28.0,67.0,15.0,49.0,11.0,6.1359,330000.0,-84.54
4,-119.67,36.33,19.0,1241.0,244.0,850.0,237.0,2.9375,81700.0,-83.34
...,...,...,...,...,...,...,...,...,...,...
2995,-119.86,34.42,23.0,1450.0,642.0,1258.0,607.0,1.1790,225000.0,-85.44
2996,-118.14,34.06,27.0,5257.0,1082.0,3496.0,1036.0,3.3906,237200.0,-84.08
2997,-119.70,36.30,10.0,956.0,201.0,693.0,220.0,2.2895,62000.0,-83.40
2998,-117.12,34.10,40.0,96.0,14.0,46.0,14.0,3.2708,162500.0,-83.02
2999,-119.63,34.42,42.0,1765.0,263.0,753.0,260.0,8.5608,500001.0,-85.21

In [ ]:
#Data_frame[compound_condition]
df.loc[(df["latitude"]<35) & (df["latitude"]>40)]

Empty DataFrame
Columns: [longitude, latitude, housing_median_age, total_rooms, total_bedrooms, population, households, median_income, median_house_value, total]
Index: []

In [ ]:
#String condition
#df.loc[df[" "]].str.contains(" ")

In [ ]:
#df.loc[df[" "]].str.startswith(" ")

In [ ]:
df["percentage"]=(df["total"]/200)*100
#in this way we can calculate percentage also

EXPORT DATA FRAME
      TO
      EXCEL,CSV,&TEXT FILE

In [ ]:
#Data_frame.to_excel(PATH)

#Data_frame.to_excel(PATH,index=False)--index will be deleted

#Data_frame.to_csv(PATH)

#Data_frame.to_csv(PATH,index=False)